.cart-container {
    z-index: 10;
    position: fixed;
    top: 12%;
    right: 3%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    width: 200px;
    color: aliceblue;
    
    background-color: rgba(0,0,0,0.5);
    
}

.remove-item {
    cursor: pointer;
}